<div class="container-fluid mt-5">
  <div class="row">
    <form class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="form-group">
        <label for="exampleInputPassword1">Genre</label>
        <select
          name="genres"
          [(ngModel)]="selectedGenre"
          class="form-control"
        >
          <option value="">All genres</option>
          <option value="Horror">Horror</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Year</label>
        <input
          type="text"
          class="txt"
          name="item"
          [(ngModel)]="selectedYear"
          class="form-control"
          placeholder="Enter year"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input
          type="text"
          class="txt"
          name="item"
          [(ngModel)]="selectedName"
          class="form-control"
          placeholder="Enter name"
        />
      </div>
      <button
        type="button"
        (click)="getSearchedBooks()"
        class="btn btn-primary"
      >
        Search
      </button>
    </form>

    <div
      *ngIf="noBooksFound"
      class="col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-9 mt-4"
    >
      <div class="alert alert-info" role="alert">
        No books found related to your search.
      </div>
    </div>

    <app-book-card
      *ngFor="let Book of receivedBooks"
      [Book]="Book"
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"
    >
    </app-book-card>
  </div>
</div>
