<div class="container-fluid mt-3" *ngIf="car">
  <div class="row pt-5">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img src="{{ car.ImageUrl }}" class="img-fluid" />
      <figcaption class="figure-caption">
        Added: {{ car.date | date: "fullDate" }}
        {{ car.date | date: "shortTime" }}
      </figcaption>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h5 class="card-title list-group-item mb-0">
        {{ car.brand }} {{ car.model }}
      </h5>
      <div class="list-group-item">Engine: {{ car.engine }}</div>
      <div class="list-group-item">Engine stats: {{ car.enginestats }}</div>
      <div class="list-group-item">Horsepower: {{ car.horsepower }}</div>
      <div class="list-group-item">Gearbox: {{ car.gearbox }}</div>
      <div class="list-group-item">Tyres: {{ car.tyrebrand }}</div>
      <div class="list-group-item">Color: {{ car.color }}</div>
      <div class="list-group-item">Year of pord: {{ car.year }}</div>
      <div class="mt-2">
        <button class="btn btn-danger" (click)="deleteCar()">Delete</button>
      </div>
    </div>
  </div>
</div>
